* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

.logo-nav {
  max-width: 3em;
}

footer a {
  text-decoration: none;
  color: #212529;
}

footer a:hover {
  text-decoration: revert;
  color: #121416;
}

@media only screen and (max-width: 600px) {
  footer li {
    font-size: small;
  }
}